/* 自定义样式 */
.sidebar {
	background-color: #E0F0FF;
	padding-top: 20px;
}

/* 顶部 header 占据全屏宽度 */
.header {
	background-color: #F8F9FA;
	padding: 20px;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.header-logo h1 {
	font-size: 36px;
	font-family: 'Brush Script MT', cursive;
	color: #F00;
}



.login-record {
	border: 3px solid black;
	padding: 20px;
	margin-top: 10px;
}

.sidebar .btn {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.fixed-area {
	border-bottom: 2px solid #F8F9FA;
	padding-bottom: 10px;
}

.con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .con img {
            width: 100px;
            height: 50px;
        }
        .no-border-button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;