   /* 分割滿垂直div的2:8比例 */
   body,
   html {
   	margin: 0;
   	padding: 0;
   	height: 100%;
   }

   .container {
   	display: flex;
   	height: 100%;
   }

   .left-column {
   	flex: 2;
   	padding: 20px;
   	border: 1px solid #ccc;
   	overflow-y: auto;
   }

   .right-column {
   	flex: 8;
   	padding: 20px;
   	border: 1px solid #ccc;
   	overflow-y: auto;

   }


   /*右下角圖片*/
   .right-column {
   	position: relative;

   }

   .custom-link{
   	position: absolute;
   	bottom: 0;
   	right: 0;
   	width: 250px;
   	height: auto;
   }

   /*登入表單*/

   .loginform {
   	margin: 0 auto;
   	text-align: center;
   }

   .logintittle {
   	margin: 0 auto;
   	text-align: left;
   	margin-left: 160px; 
   }

   .loginform2 {
	width: 400px;
   	font-weight: bold;
   	font-size: 40px;
   	margin-left: 150px;
   	text-align: left;
   	border: 2px solid black;
   	padding: 30px;

   }

   /*input調整*/
   .l_id {
   	width: 280px;
   	height: 20px;
   	font-size: 30px;
   	color: #ffff;
   	background-color: black;
   	border: 2px solid black;
   	padding: 10px;
   }

   /*sh workshop字體顏色*/
   h2 {
   	font-weight: bold;
   }

   .c1 {
   	color: red;
   }

   .c2 {
   	color: black;
   }

   /*中間登入表單分割*/
   .form-container {
   	display: flex;
   	justify-content: space-between;
   	align-items: center;
   }
   .loginbutton {
	margin-right: 100px; /* 向左移動 20 像素 */
   	text-align: left;
   }
   /*距離調整*/
   .logincontainer {
    margin-right: 200px; 
}
   .error-msg{
	   text-align: center;
	   font-size: 15px;
	   color: red;
   }

