<!-- image-layout.html -->
<div th:fragment="imageContent" class="con" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        .con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .con img {
            width: 100px;
            height: 50px;
        }
        .no-border-button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;

    </style>
    <button class="no-border-button" onclick="window.location.href='index';">
        <img src="images/undo.jpg" alt="上一頁" />
    </button>
    <button class="no-border-button" type="submit">
        <img src="images/redo.jpg" alt="下一頁" />
    </button>
</div>
