<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.h SHOP</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div>
    <h2 style="text-align: center;">搜尋結果</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>車牌號碼</th>
            <th>車主名稱</th>
            <th>公司名稱</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${carRecords.content}">
            <td th:text="${record.licensePlate}"></td>
            <td th:text="${record.ownerName}"></td>
            <td th:text="${record.companyName}"></td>
            <td>
                <form method="post">
                    <input type="hidden" name="id" />
                    <button type="submit" class="link-bold-underline" style="background: none; border: none; color: #007bff; padding: 0; cursor: pointer;">查看詳細</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
