<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.h SHOP</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .input-label {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        .input-group {
            margin-bottom: 20px;
        }
        .form-control-gray {
            background-color: #d3d3d3; /* 灰色背景 */
            border: 1px solid #ccc; /* 可选：给输入框加个边框 */
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/orderHistorySearch}" method="get" class="mb-3">
            <!-- 輸入車牌號碼 -->
            <div class="input-group">
                <label class="input-label w-100">輸入車牌號碼</label>
                <input type="text"  name="licensePlate" id="licensePlate" class="form-control form-control-lg" placeholder="" th:value="${searchKeyword}">
            </div>

            <!-- 輸入車主名稱 -->
            <div class="input-group">
                <label for="ownerName" class="input-label w-100">輸入車主名稱</label>
                <input type="text"  name="ownerName" id="ownerName" class="form-control form-control-lg" placeholder="" th:value="${searchKeyword}">
            </div>

            <!-- 輸入公司名稱 -->
            <div class="input-group">
                <label for="companyName" class="input-label w-100">輸入公司名稱</label>
                <input type="text"  name="companyName" id="companyName" class="form-control form-control-lg" placeholder="" th:value="${searchKeyword}">
            </div>

            <!-- 搜尋按鈕 -->
            <div class="text-center">
                <button class="btn btn-primary" type="submit">搜尋</button>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
